.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_green {
  background-color: $strongCyan;
  font-family: "Bai Jamjuree";
  width: 31rem;
  height: 5.5rem;
  border-radius: 10rem;
  border: none;
  color: white;
  font-size: 1.7rem;
  margin-top: 5rem;
  box-shadow: inset 0px -2px 4px 0px #00000080, 0px 5px 20px 0px #26baa47a;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.button_purple {
  background-color: $lightBlue;
  font-family: "Bai Jamjuree";
  width: 31rem;
  height: 5.5rem;
  border-radius: 10rem;
  border: none;
  color: white;
  font-size: 1.7rem;
  margin-top: 2.5rem;
  box-shadow: inset 0px -2px 4px 0px #00000080, 0px 5px 20px 0px #6173ff7d;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
